<html>
    <head>

    </head>
    <body>
        <div>
            <form method="POST">
                {% csrf_token %}
               <select class="form-select" aria-label="Default select example">
                    <option selected>Marca</option>
                    <option value="1">Fiat</option>
                    <option value="2">Ford</option>
                    <option value="3">Toyota</option>
                    <option value="4">Chevrolet</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categoria</option>
                    <option value="1">Particular</option>
                    <option value="2">Transporte</option>
                    <option value="3">Carga</option>
                  </select>

            </form>
        </div>
    </body>
</html>