#contenido {
    background-color: rgb(199, 174, 240);
    display: inline-block;
    FLEX-WRAP: WRAP;

}

.digimon {
    cursor: pointer;
  }
  

.ITEM {
    WIDTH: 100%;
}
 
.tarjeta div:hover {
    margin: 2%;
    display: inline-block;
    
}
h1{
    color: rgb(93, 93, 243);
}


